name: Proxmox LXC

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-lxc:
    name: Build Proxmox LXC Container
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Unlock git-crypt
        run: |
          sudo apt-get update
          sudo apt-get install -y git-crypt
          echo ${{ secrets.GIT_CRYPT_KEY }} | base64 -d | git-crypt unlock -

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build proxmox LXC container
        run: |
          nix run github:nix-community/nixos-generators -- -f proxmox-lxc --flake .#default -o ./out

      - name: Find tarball
        id: tarball
        run: |
          TARBALL=$(find ./out/tarball -name "nixos-image-lxc-proxmox-*.tar.xz" -type f)
          echo "path=$TARBALL" >> $GITHUB_OUTPUT
          echo "Found tarball: $TARBALL"

      - name: Upload to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: auto
          S3_BUCKET: ${{ secrets.S3_BUCKET }}
          S3_ENDPOINT: ${{ secrets.S3_ENDPOINT }}
        run: |
          filename=nixos-proxmox-lxc.tar.xz
          aws s3 cp ${{ steps.tarball.outputs.path }} \
            s3://$S3_BUCKET/proxmox/$filename \
            --endpoint-url $S3_ENDPOINT
          echo "Uploaded $filename to S3"

      - name: Lock git-crypt
        run: |
          git-crypt lock

      - name: Delete local output
        run: |
          rm -rf ./out
