name: Proxmox LXC

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  TAILSCALE_VERSION: 1.84.0

jobs:
  build-lxc:
    name: Build Proxmox LXC Container
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Unlock git-crypt
        run: |
          sudo apt-get update
          sudo apt-get install -y git-crypt
          echo ${{ secrets.GIT_CRYPT_KEY }} | base64 -d | git-crypt unlock -

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build proxmox LXC container
        run: |
          nix run github:nix-community/nixos-generators -- -f proxmox-lxc --flake .#default -o ./out

      - name: Find tarball
        id: tarball
        run: |
          TARBALL=$(find ./out/tarball -name "nixos-image-lxc-proxmox-*.tar.xz" -type f)
          mv $TARBALL ./nixos-lxc-proxmox-default.tar.xz

      - name: Setup Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_OAUTH_CLIENT_SECRET }}
          tags: tag:github-actions
          version: ${{ env.TAILSCALE_VERSION }}

      - name: Upload to PVE
        env:
          PVE_API_URL: ${{ secrets.PVE_API_URL }}
          PVE_API_TOKEN: ${{ secrets.PVE_API_TOKEN }}
        run: |
          curl -k \
            -X POST "$PVE_API_URL/api2/json/nodes/sol/storage/local/upload" \
            -H 'Authorization: PVEAPIToken=$PVE_API_TOKEN' \
            -F "content=vztmpl" \
            -F "filename=@nixos-lxc-proxmox-default.tar.xz"

      - name: Lock git-crypt
        run: |
          git-crypt lock

      - name: Delete local output
        run: |
          rm -rf ./out
          rm ./nixos-lxc-proxmox-default.tar.xz
